@model ContactModel
@{
    ViewData["title"] = "Cadastro de Paciente";
}

<div class="text-center">

	<h1 class= "display-4">Cadastro De Paciente</h1>

</div>

<form asp-controller="Contact" asp-action="New" method="post">

  <div class="mb-3">
    <label for="Name">Nome Completo</label>
    <input type="text" asp-for="Name" class="form-control"  placeholder="Digite o nome do Paciente">
  </div>


   <div class="mb-3">
    <label for="Name">E-mail</label>
    <input type="text" asp-for="Email" class="form-control"  placeholder="Digite o E-mail">
  </div>

  <div class="mb-3">
    <label for="Name">Telefone</label>
    <input type="text" asp-for="Celular" class="form-control"  placeholder="Digite o Telefone">
  </div>
  <br />

  <select class="form-select" aria-label="Default select example">
  <option selected>Selecione o Medico</option>
  <option value="1">Dr.One</option>
  <option value="2">Dr.two</option>
  <option value="3">Dr.three</option>
</select>
<br />

 
  <button type="submit" class="btn btn-primary" >Adicionar</button>
  <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Voltar</a>
</form>